<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            По предыдущему. А чего вардампишь юзера в маппере? getUser должен возвращать юзера в контроллер, и уже там вардампить. В остальном ОК.<br>
            Теперь давай немного отвлечемся, надо выбрать какой-то шаблон на котором будем отображать наши поделки, а то на эту белую простыню с буквами уже надоело смотреть.<br>
            Сейчас в сайтостроях в основном используются готовые фреймворки css. Можешь почитать что такое Фреймворк, в пхп мы тоже в итоге придем к одному для изучения. Если кратко то это набор уже готового кода, который постоянно все используют во всех проектах. Касательно цсс то тут стили кнопок, таблиц, сеточная система, шрифты, цвета. В общем все сразу есть для использования с документацией итд.<br>
            Самые популярные bootstrap, materialize, foundation. Мы будем юзать бустрап https://getbootstrap.com/. Можешь посмотреть какие-то видосы че это такое. Не упарываться, просто что бы было понимание.<br>
            Дальше, надо найти готовый шаблон сайта (template). Грубо говоря html + css который кто-то уже нарисовал, мы его просто себе возьмем, и будем его юзать. Для этого гугли free templates bootstrap 4 ecommerce (желательно конечно 4 версия, но 3я тоже в принципе пойдет).<br>
            Вот вроде бы ок ссылка. Выбирай какой больше нравится, нам нужно что бы была страница с какими-то товарами, если есть страница с корзиной, заказ то вообще збс.<br>
            Качаешь его. У тебя там будет архив сайта грубо говоря. Вот задача ща что бы у нас по индексу (так называют главную страницу например http://mymagaz.local) отображался выбраннный тобой шаблон.
            P.s. Давай уберем эту простыню с методов которые выполняются. Или тебе оно надо для дебага?
        </div>
    </body>
</html>
