<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>И так у нас есть роут менеджер. Теперь настало познакомиться с таким паттерном как MVC полностью.</div>
        <p>Это важный паттерн. Паттерн это можно сказать какой-то определенный подход к решению проблемы. Просто удобный способ решить какую-то проблему которую часто приходится решать программистам.</p>
        <p>Еще раз можно вернуться к нашей любимой статье https://ruseller.com/lessons.php?id=666 на этот раз познакомиться с ней целиком.</p>
        <p>Особо упариваться не нужно, можно даже не пытаться понять что-то. Так как по сути и нечего там понимать.</p>
        <p>Просто мы как бы делаем определенный порядок для любых запросов которые делает пользоваетль</p>
        <p>Мы будем разделять определенную логику в приложении в определенные понятия.</p>
        <p>Например у нас будут классы которые мы будем называть контроллеры. Это мы просто их так называем, мы могли бы их назвать жопы и ничего бы неизменилось.</p>
        <p>Этот класс будет управлять логикой по определенной теме.</p>
        <p>Напирер у нас будет UserController в котором будут обрабатываться запросы касательно пользователей. Мы будем тут их создавать, обновлять, удалять итд</p>
        <p>Или ProductController в котором будем товарами заниматься</p>
        <p>Или TaskController в котором мы сможем хранить нашу уже существующую логику по выводу задач (что бы не хранить это в индексе)</p>
        <hr>
        <p>И так наша текущая задача. Создать папку controllers.</p>
        <p>Создаем класс юзерКонтроллер, таск контроллер</p>
        <p>Дальше в контроллерах (напомню это просто класс, ничем не отличется по сути от роутсервис или имджсервис - просто поля и методы) мы создадим методы actionIndex, actionCreate и actionView</p>
        <p>Что такое методы в которых в начале названия стоит слово action (действие)? Это опять таки просто определенная функция которая будет содержать логику по обработке конкретной задачи по теме контроллера. А имя просто унификация. Что бы всегда можно было глянуть и понять. Ага раз это UserController и actionCreate - значит тут хранится код который описывает создание пользователей</p>
        <p>Дальше мы принимаем для себя такую логику что наш роут сервис getFirstPart дает всегда имя контроллера</p>
        <p>То есть mymagaz.local/task/blablabla - это мы будем обрабатывать запрос в классе taskController</p>
        <p>То есть mymagaz.local/user/blablabla - это мы будем обрабатывать запрос в классе userController</p>
        <p>А наш getSecondPart всегда дает имя действия mymagaz.local/user/create говорит как бы нам что надо обработать код в классе userController и методе actionCreate, mymagaz.local/task/view - taskController->actionView()</p>
        <p>Теперь в нашем индекс пхп кроме автолоадера и создания $routeService вызывается $routeService->run()</p>
        <p>В run у нас должно смотреть что в пути запроса. И понимать какой контроллер вызвать и какой метод контроллера вызвать.</p>
        <p> То есть мы создаем обьект контроллера и сходя из getFirstPart (тут не нужно иф елса. Обьект можно создать по строчному названию, ну на крайняк юзай иф елс для начала, а потом попробуешь на динамику перейти) И вызываем его метод исходя из секондПарт. Тут еще понадобятся проверки на file_exists и method_exists</p>
        <p>Если нет контроллера или метода то нужно вернуть 404 (https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%BA%D0%BE%D0%B4%D0%BE%D0%B2_%D1%81%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D1%8F_HTTP) (https://stackoverflow.com/questions/1381123/how-can-i-create-an-error-404-in-php) Страницу 404 создай какую хочешь.</p>
        <p>Если контроллер и экшн есть то нужно в этом методе сделать принт имени контроллера и имени метода (нагуглишь как получить имя текущего класса и метода).
        <p>Еще одно если в route getSecondPart пустой, а контроллер у нас есть то вызываем екшн по умолчанию actionIndex</p>
        <p>Единственное наш taskController actionIndex отображает наш список файлов (переносим из index $tasksService->renderTasksList();)</p>
        <p>А taskController actionView отображает таск  echo $tasksService->getTask($routeService->getThirdPart());</p>
        <p>Не забудь поменять ссылки в списке тасков, путь теперь другой будет.</p>
    </body>
</html>
