<img src="/images/tasks/13_1.jpg" width="500" >
1. Убираем из пути рут, он не несет смысла
2. При редактировании категории в списке должен быть выбран уже текущий родитель

<img src="/images/tasks/13_2.jpg" width="500" >

3. Убираем из селекта "не менять" и root. Вместо них появляется "нет" который с id = 0 что и будет означать отсутствие родителя. Когда по умолчанию при редактировании будет выводится текущая категория то при сохранении она и будет оставаться (что будет означать не менялось)

<img src="/images/tasks/13_3.jpg" width="500" >

4. В путях тоже сделай ссылками, будет удобно открывать родителя если что сразу. Сделай что бы ссылка открывалась в новой вкладке

<img src="/images/tasks/13_4.jpg" width="500" >

5. При создании активность делай сразу чекнутой

<img src="/images/tasks/13_5.jpg" width="500" >

6. Сделать что бы при клике на лейбл чекбокса он тоже кликался

В целом работает и это главное ) И вообще очень даже не стремно все сделано как для нубаса. Есть нюансы конечно, но они не супер такие уж что прям страх. На текущий момент давай уже перестанем эти категории ковырять.
Из важного что можно было бы сделать это когда форму сохраняем то всегда стараемся валидировать данные. Например ща в ранг я могу в инпут ввести текст, и ты это сохранишь. Да бд сама конвертнет в 0, но это ошибка которую менеджер не увидит.
То есть тут либо делаем инпут который numeric и только числа может пропустить или обязательно проверяем сами is_int или чето такое. Типа число ли это..
Короче данные обычно валидируют на серверной (бекенде) части всегда, что бы в бд чего-то не того не зашло.
Сейчас это можешь не делать, но имей ввиду на будущее. Пока можем без запарств делать, а просто например die('Не возможно сохрнатиь, так как поле ранг не число')

Переходим к товарам.
1. Делаем страницу создания/редактирвоания товара
2. Пока добавляем возможность ввести имя товара и выбрать категорию. Категория выбирается из селекта такого же по сути как родителя категории выбираем.
3. На фронте сейчас категории у нас имеют какие-то ссылки текстовые https://monosnap.com/file/30Y74mRcqw6DvqEi9N0ju0rtT143kk . Нужно сделать что бы ссылки были /catalog/id категории/ , например /catalog/5/
4. При переходе на такую страницу просто выводим все товары категории. Пока просто делаем <xmp class="codetext"><ul> в котором в каждом <li></xmp> отображем тайтл товара

Да, важный момент. Один и тот же товар может быть в нескольких категориях. То есть делай селект мультипл

Да, еще хотел вот подметить
<xmp class="codetext"><?php $checked = ; ?></xmp><xmp class="codetext"><input name = 'checkTopMenu' type="checkbox" <?= $checked ?>> Применить для главного меню</input></xmp>
Во превых чекбокс неправильно в смысле html разметки написан, посмотри как правильно https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox
<xmp class="codetext"><input></input></xmp> такого вроде вообще не бывает, инпут обычно самозакрывающийся
Во вторых можно сократить эти две строки в такое. То есть сразу иф этот сделать в том месте где выводишь чекед
<xmp class="codetext"><input name = 'checkTopMenu' type="checkbox" <?=($curentCategory->topMenu ? 'checked' : '')?>> Применить для главного меню</input></xmp>