<div>Пришло время познакомиться с sql. Чем в основном занимаются любые сайты и программы?<br>
    Они сохраняют определенные данные и выводят данные структурированно.<br>
    Как мы уже говорили у пхп памяти нет, он тупо выполнился и все, забыл. Потом опять по новой.<br>
    Так в принципе во всех языках. Потому данные хранят в других местах.<br>
    Например хранят в файлах.<br>
    Но в основном юзают специальные хранилища которые называют базы данных.<br>
    Есть разные типы (можно почитать погуглив "типы баз данных", но я не советую это делать), мы будем юзать только реляционную бд (база данных). В частности ее реализацию mysql. Mysql это просто название фирмы которая сделала бд. Есть другие типа PostgreSQL, MicrosoftSQL, OracleDB итд.<br>
    Мы юзаем mysql потому что он халявный и вполне могучий. Для мелких проектов вполне подходит (мелкий это даже розетка может быть например).<br>
    Для общения с базами данных используется специальный язык SQL. То есть он как бы унифицирован. И по сути зная как и какие надо выполнять комманды на sql, ты можешь спокойно работать с любой бд производителей что я написал выше. То есть ты изи можешь перейти в проект на постгре или оракл.<br>
    Визуально хранение данных в реляционнной бд можно представить в виде таблиц, как в экселе. Например есть таблица пользователей. Там хранятся данные по всем пользователям сайта, или таблица товаров.<br>
    Обычно мы используем 4 основных запроса к бд: создать, прочитать, обновить, удалить. (CRUD create read update delete)<br>
    И так заходим в настройки модулей openserver врубаем модуль mysql 5.5 x64<br>
    Дальше открываем консоль opensrever menu (левый клик в трее) -> advanced -> console<br>
    И в ней пишем mysql -uroot , жмем энтер.<br>
    Дальше если все ок то ты уже как бы будешь в mysql программе и у тебя можно вводить команды для бд.<br>

    Задачи. (гугли ответы, тысячи их на всех языках есть)<br>
    1. Создать бд mymagaz (create database или чет такое)<br>
    2. Создать таблицу user (поля id, email, password, name) (create table)<br>
    3. Всунуть пользователя admin (insert into)<br>
    4. Проверить что он всунулся (команда select)<br>

    5. Просто выполнить комманду из консоли (это уже не в mysql): mysqldump -uroot mymagaz > mymagaz.sql<br>
    Это копия твоей базы данной, я смогу ее себе развернуть и у меня будет точно та же бд что и у тебя, с таблицей user, и подной записью в ней с name=admin<br>

    В пхп современный способо общаться с бд - это встроенный класс PDO.<br>
    Сейчас задача вывести всех пользователей на экран.<br>
    1. Создаем папку dao<br>
    2. Создаем класс UserDao<br>
    3. По запросу /user должно понятное дело зайти в юзер контроллер индекс. Там создаем экземпляр userDao. Вызываем его метод getUsers()<br>
    4. В гетЮзерс. https://www.php.net/manual/ru/pdo.connections.php Создаем обьект пдо, подключаемся к бд. Херачим запрос вытянуть всех пользователей. Возвращаем результат этого запроса.<br>
    5. ВарДампим результат. То есть у тебя будт в actionIndex в $result = $userDao->getUsers(); var_dump($users); die;<br>
    Логинимся к бд user root, password пустой ''.</div>